@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --primary-color: #38AC95;
  --dark-background: #17523F;
  --light-background: #E1F3F0;
  --intermediate-color: #88CFC0;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-background);
}

#app {
  height: 100vh;
}

.home-buttons {
  background-color: var(--primary-color);
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
  font-size: 24px;
  width: 296px;
}

.group {
  margin-bottom: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.sub-header {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 40px;
}

.app-container {
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--light-background);
  align-items: center;
}

.snapshots-container {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--light-background);
}

.login {
  background-color: white;
  width: 344px;
  border-radius: 8px;
}

.login-button {
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 8px;
  margin: 6px;
  font-size: 20px;
  width: 88px;
}

.side-bar {
  height: 100vh;
  background-color: var(--primary-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.snap-window {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.snapshot {
  background-color: var(--light-background);
  width: 120px;
  height: 80px;
  border-radius: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.date {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: 600;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 40px;
}

.tracks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.track {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 24px;
}

.artist {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 100;
  align-items: center;
  justify-content: center;
}

.artist:nth-child(1) {
  padding-left: 12px;
}